<section class="contact-section py-5">
  <div class="container d-flex justify-content-center">
    <div class="row g-0 contact-box ">

      <div class="col-md-7 p-4 bg-light rounded-start">

        <h4 class="fw-bold text-primary">Get in Touch</h4>
        <p class="text-muted mb-4">
          connect with our laboratory for billing , results ,or test inquiries
        </p>

        <div class="row">
          <div class="col-md-6 mb-3">
            <label>First Name</label>
            <input type="text" class="form-control mt-2" placeholder="Ahmed Ali">
          </div>

          <div class="col-md-6 mb-3">
            <label>Last Name</label>
            <input type="text" class="form-control mt-2" placeholder="Ahmed Ali">
          </div>
        </div>

        <div class="mb-3">
          <label>Inquiry Type</label>
          <select class="form-control mt-2">
            <option>Patient Results Inquiry</option>
            <option>Patient Results Inquiry</option>
            <option>Patient Results Inquiry</option>
          </select>
        </div>

        <div class="mb-3">
          <label>Messages</label>
          <textarea class="form-control mt-2" rows="4"
            placeholder="How can we assist you today ?"></textarea>
        </div>

      </div>


      <div class="col-md-5 p-4 contact-info text-white">

        <h5 class="fw-bold mb-4">Our Laboratory Hub</h5>

        <p><i class="bi bi-geo-alt-fill"></i> Qanater El Khayreya Street, Qaha Qalyubia, Egypt</p>
        <p><i class="bi bi-envelope-fill"></i> elnour-lab@gmail.org</p>
        <p><i class="bi bi-telephone-fill"></i> 012-030-0255</p>

        <div class="map mt-4">
          <iframe
            src="https://maps.google.com/maps?q=qaha&t=&z=13&ie=UTF8&iwloc=&output=embed"
            width="100%" height="280" style="border:0;" allowfullscreen="">
          </iframe>
        </div>

      </div>

    </div>
  </div>
</section>
