.contact-section {
  background-color: #E8F1FF;
}

.contact-box {
  border-radius: 20px;
  overflow: hidden;
  min-height:500px;
  width: 90%;
}


.form-control {
  border-radius: 10px;
  padding: 10px;
  background-color: #f5f7fa;
  border: none;
}


.contact-info {
  background-color: #1565c0;
}

.map iframe {
  border-radius: 15px;
}
