<section class="services-section text-center py-5">
  <div class="container">
    <h4 class="text-primary fw-bold mb-2">Our Services</h4>
    <p class="text-muted mb-5">
      A comprehensive ecosystem of laboratory precision tailored for your health.
    </p>

      <div class="row g-4 justify-content-center ms-md-5 ms-0 ">
        <div class="col-md-5" *ngFor="let service of services">
          <div class="service-card" [style.backgroundImage]="'url(' + service.image + ')'">

            <div class="overlay"></div>

            <div class="content">
              <h5>{{service.title}}</h5>
              <p class="desc">{{service.desc}}</p>
            </div>

          </div>
        </div>

      </div>
  </div>
</section>
