
.service-card {
  position: relative;
  height: 220px;
  /* width:435px; */
  border-radius: 20px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  padding: 20px;
  cursor: pointer;
}

.overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to bottom,
    rgba(0, 80, 160, 0.64),
    rgba(0, 40, 90, 0.9)
  );
  transition: 0.3s;
}


.content {
  position: relative;
    color: white;
  z-index: 2;
}


.content h5 {
  position: absolute;
  left: 30px;

  font-weight: 500;
  margin-bottom: 0;
  transition: 0.3s;
}


.desc {
  opacity: 0;
  transform: translateY(50px);
  font-size: 14px;
  margin-top: 10px;
  transition: 0.3s;
}

.service-card:hover .desc {
  opacity: 1;
  transform: translateY(30px);
}

.service-card:hover .overlay {
  background: linear-gradient(
    to bottom,
    rgba(0, 80, 160, 0.6),
    rgba(0, 40, 90, 1)
  );
}
