.cards-wrapper {
  position: relative;
  height: 300px;
}

.card-item {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) scale(0.8);
  opacity: 0;
  transition: all 0.5s ease;
}

.card-item.active {
  transform: translateX(-50%) scale(1);
  opacity: 1;
  z-index: 3;
}

.card-item.prev {
  transform: translateX(-150%) scale(0.85);
  opacity: 0.5;
  z-index: 2;
}

.card-item.next {
  transform: translateX(50%) scale(0.85);
  opacity: 0.5;
  z-index: 2;
}

.card {
  width: 350px;
  padding: 25px;
  border-radius: 15px;
  background: #fff;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.stars {
  color: gold;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-150%);
  font-size: 30px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 9999;
  font-size: 50px;
}

.left { left: 0; }
.right { right: 0; }

@media (max-width: 768px) {
  .arrow.left {
    left: -13px;
  }

  .arrow.right {
    right: -13px;
  }
}
