
.add-patient{
  background-color: white;
  width: 1124px;
}
.input-style{
  height:50px;
  width: 250px;
  border-radius: 15px;
}
.form-control {
  border-radius: 10px;
  padding: 20px;
  background-color: #f5f7fa;
  border: none;
}
.border-red{
  border-radius: 25px;
}
